################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SteelHeartBot/bin/Debug/netcoreapp3.1
/SteelHeartBot/obj
